<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>

<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="index.html">index</a></li>
        <li><a href="login.html">login</a></li>
        <li><a href="signin.html">signin</a></li>
        <li><a href="profile.html">profile</a></li>
        <li><a href="posts.html">posts</a></li>
    </ul>
</nav>

<main>
    <h1>Posts</h1>

    <ul>
        <li>
            <a href="#">Post title 1</a><br>
            <p>Post description post description post description ...</p>
        </li>
        <li>
            <a href="#">Post title 2</a><br>
            <p>Post description post description post description ...</p>
        </li>
        <li>
            <a href="#">Post title 3</a><br>
            <p>Post description post description post description ...</p>
        </li>
        <li>
            <a href="#">Post title 4</a><br>
            <p>Post description post description post description ...</p>
        </li>
        <li>
            <a href="#">Post title 5</a><br>
            <p>Post description post description post description ...</p>
        </li>
    </ul>
</main>

</body>
</html>