<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="index.html">index</a></li>
        <li><a href="login.html">login</a></li>
        <li><a href="signin.html">signin</a></li>
        <li><a href="profile.html">profile</a></li>
        <li><a href="posts.html">posts</a></li>
    </ul>
</nav>

<main>
    <h1>Profile</h1>

    <h2>John Do</h2>
    <p>Something about me ...</p>

</main>

</body>
</html>